In [49]:
import pandas as pd

In [50]:
file_path = "src/data/plot_summaries.txt"
df_plot_summaries = pd.read_csv(file_path, sep='\t', header=None,  names=['Wikipedia_movie_ID', 'summary'])
df_plot_summaries.head(1)

   Wikipedia_movie_ID                                            summary
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...

In [52]:
import ast
# Function to parse dictionary-like strings in the file and separate keys and values
def parse_dict_column(column):
    parsed_keys = []
    parsed_values = []
    
    for item in column:
        # Convert string representation of dictionary to actual dictionary
        item_dict = ast.literal_eval(item)
        parsed_keys.append(", ".join(item_dict.keys()))
        parsed_values.append(", ".join(item_dict.values()))
    
    return parsed_keys, parsed_values

file_path = "src/data/movie.metadata.tsv"
df_movie_metadata = pd.read_csv(file_path, sep='\t', header=None, 
                                    names=['Wikipedia_movie_ID', 'Freebase_movie_ID', 'Movie_name', 
                                            'Movie_release_date', 'Movie_box_office_revenue', 'Movie_runtime',
                                            'Movie_languages_(Freebase ID:name tuples)', 'Movie_countries_(Freebase ID:name tuples)',
                                           'Movie_genres_(Freebase ID:name tuples)'])

# Parse 'languages', 'countries', and 'genres' columns
df_movie_metadata['id_movie_languages'], df_movie_metadata['Movie_languages'] = parse_dict_column(df_movie_metadata['Movie_languages_(Freebase ID:name tuples)'])
df_movie_metadata['id_Movie_countries'], df_movie_metadata['Movie_countries'] = parse_dict_column(df_movie_metadata['Movie_countries_(Freebase ID:name tuples)'])
df_movie_metadata['id_Movie_genres'], df_movie_metadata['Movie_genres'] = parse_dict_column(df_movie_metadata['Movie_genres_(Freebase ID:name tuples)'])

# Select and rename the columns as required
cleaned_df_movie_metadata = df_movie_metadata[[
    'Wikipedia_movie_ID', 'Freebase_movie_ID', 'Movie_name', 'Movie_release_date', 
    'Movie_box_office_revenue', 'Movie_runtime', 'id_movie_languages', 
    'Movie_languages', 'id_Movie_countries', 'Movie_countries', 
    'id_Movie_genres', 'Movie_genres'
]]

# Display the cleaned dataframe
columns_to_drop = ['id_movie_languages', 'id_Movie_genres', 'id_Movie_countries']  # Replace with any columns you want to drop
cleaned_df_movie_metadata = cleaned_df_movie_metadata.drop(columns=columns_to_drop)

cleaned_df_movie_metadata.head(1)

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Movie_release_date,Movie_box_office_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Thriller, Science Fiction, Horror, Adventure, ..."

In [53]:
file_path = "src/data/name.clusters.txt"
df_clusters_name = pd.read_csv(file_path, sep='\t', header=None, names=['unique_character_name', 'Freebase_character/actor_map_ID'])

df_clusters_name.head(1)

  unique_character_name Freebase_character/actor_map_ID
0         Stuart Little                       /m/0k3w9c

In [54]:
file_path = "src/data/character.metadata.tsv"
df_character_metadata = pd.read_csv(file_path, sep='\t', header=None, 
                                    names=['Wikipedia movie ID','Freebase_movie_ID', 'Movie_release_date',
                                           'Character_name', 'Actor_date_of_birth', 'Actor_gender',
                                           'Actor_height_(in meters)', 'Actor_ethnicity_(Freebase ID)',
                                           'Actor name', 'Actor_age_at_movie_release', 'Freebase_character/actor_map_ID',
                                           'Freebase_character_ID', 'Freebase_actor_ID'])

df_character_metadata.head(1)

,Wikipedia movie ID,Freebase_movie_ID,Movie_release_date,Character_name,Actor_date_of_birth,Actor_gender,Actor_height_(in meters),Actor_ethnicity_(Freebase ID),Actor name,Actor_age_at_movie_release,Freebase_character/actor_map_ID,Freebase_character_ID,Freebase_actor_ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.62,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7

In [55]:
file_path = "src/data/tvtropes.clusters.txt"
with open(file_path, "r") as file:
    lines = file.readlines()

# Replace `{"char": ` with a simpler delimiter like a tab
lines = [line.replace('{"char": ', '').replace(', "movie": ', '\t')
         .replace(', "id": ', '\t').replace('}', '')
         .replace(', "actor": ', '\t').replace('\t\t', '\t') for line in lines]

with open("src/data/pro_tvtropes.clusters.txt", "w") as file:
    file.writelines(lines)
file_path = "src/data/pro_tvtropes.clusters.txt"

# Load the processed file
df_clusters_tvtropes = pd.read_csv(file_path, sep='\t', header=None, names=['character_types', 'character', 'movie','Freebase_character/actor_map_ID','Actor name'])
#df_clusters_tvtropes.head()
df_clusters_tvtropes.head(1)

,character_types,character,movie,Freebase_character/actor_map_ID,Actor name
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams

In [82]:
#char par type
df_merged1 = pd.merge(df_clusters_tvtropes, df_character_metadata, on=['Actor name','Freebase_character/actor_map_ID'], how='outer')
df_merged1.head(10)

,character_types,character,movie,Freebase_character/actor_map_ID,Actor name,Wikipedia movie ID,Freebase_movie_ID,Movie_release_date,Character_name,Actor_date_of_birth,Actor_gender,Actor_height_(in meters),Actor_ethnicity_(Freebase ID),Actor_age_at_movie_release,Freebase_character_ID,Freebase_actor_ID
0,NaN,NaN,NaN,/m/0n1df4k,Cesarine Prinz\t,22643470.0,/m/05zqsh4,1926-10-29,NaN,1883-12-20,F,NaN,NaN,NaN,NaN,/m/0m_f7mw
1,NaN,NaN,NaN,/m/0n1qm4g,Cesarine Prinz\t,22643388.0,/m/05znq3z,1922-08-04,NaN,1883-12-20,F,NaN,NaN,NaN,NaN,/m/0m_f7mw
2,NaN,NaN,NaN,/m/09j1tjk,Daniel Newman,20116200.0,/m/04yby6g,1998-11-05,Elias Riddler,1976-05-12,M,NaN,NaN,22.0,/m/0n4pjk3,/m/0n8vzn2
3,NaN,NaN,NaN,/m/0lt7r5k,'Big Bill' Giddinger,15056534.0,/m/03h64m2,1911-05-25,NaN,NaN,M,NaN,NaN,NaN,NaN,/m/0lt7r5n
4,NaN,NaN,NaN,/m/0n1tc87,'Big' Lee,23010798.0,/m/064j_6f,1973-07-25,Junkie in Casino,NaN,M,NaN,NaN,NaN,/m/0n1tcn4,/m/0n1tc8b
5,NaN,NaN,NaN,/m/0gcg1gr,'Chicken' Holleman,1873017.0,/m/062rrj,1972-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/m/0gc4cy_
6,NaN,NaN,NaN,/m/0jsc3dw,'Crazy George' Henderson,10050502.0,/m/02q05nf,1975,NaN,NaN,M,NaN,NaN,NaN,NaN,/m/0jsc3dz
7,NaN,NaN,NaN,/m/0h6dfjq,'Evil' Ted Smith,3866200.0,/m/0b40yx,1991-03-18,Ronnie,NaN,NaN,NaN,NaN,NaN,/m/0h6dfj3,/m/0h6dfj0
8,NaN,NaN,NaN,/m/0fq5m94,'Kecske' Molnár Levente,31935934.0,/m/0dc2ctx,2010-08-07,Ovidiu,NaN,M,NaN,NaN,NaN,/m/0g4tsxd,/m/0fq5m86
9,NaN,NaN,NaN,/m/0n637w5,'King Kong' Kashey,24051101.0,/m/07kd398,1943-05-28,Paj Mab's Guard #2,1903-11-28,M,NaN,NaN,39.0,/m/0n638tg,/m/0n637w8

In [83]:
df_movie_metadata2 = cleaned_df_movie_metadata.drop(columns = 'Movie_release_date')
df_merged2 = pd.merge(df_merged1, df_movie_metadata2, on=['Freebase_movie_ID'], how='outer')
df_merged2.head(10)

,character_types,character,movie,Freebase_character/actor_map_ID,Actor name,Wikipedia movie ID,Freebase_movie_ID,Movie_release_date,Character_name,Actor_date_of_birth,...,Actor_age_at_movie_release,Freebase_character_ID,Freebase_actor_ID,Wikipedia_movie_ID,Movie_name,Movie_box_office_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres
0,NaN,NaN,NaN,/m/02tb4v8,Al Ernest Garcia,142780.0,/m/011_mj,1928-01-06,NaN,1887-03-11,...,NaN,NaN,/m/0ksm_r,142780.0,The Circus,NaN,68.0,"Silent film, English Language",United States of America,"Romantic comedy, Silent film, Adventure, Black..."
1,NaN,NaN,NaN,/m/0gcmkh6,Betty Morrissey,142780.0,/m/011_mj,1928-01-06,NaN,1908,...,20.0,NaN,/m/043j_fq,142780.0,The Circus,NaN,68.0,"Silent film, English Language",United States of America,"Romantic comedy, Silent film, Adventure, Black..."
2,NaN,NaN,NaN,/m/0k4qrd,Charlie Chaplin,142780.0,/m/011_mj,1928-01-06,NaN,1889-04-16,...,NaN,NaN,/m/01lc5,142780.0,The Circus,NaN,68.0,"Silent film, English Language",United States of America,"Romantic comedy, Silent film, Adventure, Black..."
3,NaN,NaN,NaN,/m/0gc5r6n,George Davis,142780.0,/m/011_mj,1928-01-06,NaN,1889-11-07,...,NaN,NaN,/m/03cn95y,142780.0,The Circus,NaN,68.0,"Silent film, English Language",United States of America,"Romantic comedy, Silent film, Adventure, Black..."
4,NaN,NaN,NaN,/m/0gcgr51,Harry Crocker,142780.0,/m/011_mj,1928-01-06,NaN,1893-07-02,...,NaN,NaN,/m/08lk66,142780.0,The Circus,NaN,68.0,"Silent film, English Language",United States of America,"Romantic comedy, Silent film, Adventure, Black..."
5,NaN,NaN,NaN,/m/0k4qrw,Henry Bergman,142780.0,/m/011_mj,1928-01-06,NaN,1868-02-23,...,NaN,NaN,/m/07mmg5,142780.0,The Circus,NaN,68.0,"Silent film, English Language",United States of America,"Romantic comedy, Silent film, Adventure, Black..."
6,NaN,NaN,NaN,/m/0gdn7dk,John Rand,142780.0,/m/011_mj,1928-01-06,NaN,1871-11-19,...,NaN,NaN,/m/03d36rf,142780.0,The Circus,NaN,68.0,"Silent film, English Language",United States of America,"Romantic comedy, Silent film, Adventure, Black..."
7,NaN,NaN,NaN,/m/0gcndyx,Steve Murphy,142780.0,/m/011_mj,1928-01-06,NaN,NaN,...,NaN,NaN,/m/0gclz8m,142780.0,The Circus,NaN,68.0,"Silent film, English Language",United States of America,"Romantic comedy, Silent film, Adventure, Black..."
8,NaN,NaN,NaN,/m/0k4qrq,NaN,142780.0,/m/011_mj,1928-01-06,NaN,NaN,...,NaN,NaN,NaN,142780.0,The Circus,NaN,68.0,"Silent film, English Language",United States of America,"Romantic comedy, Silent film, Adventure, Black..."
9,NaN,NaN,NaN,/m/03l49x1,Eugenie Besserer,142786.0,/m/011_p6,1929,NaN,1868-12-25,...,NaN,NaN,/m/0ksbyz,142786.0,Thunderbolt,NaN,91.0,English Language,United States of America,"Drama, Black-and-white"

In [84]:
df_merged3 = pd.merge(df_merged2, df_clusters_name, on=['Freebase_character/actor_map_ID'], how='outer')
df_merged3.head(10)

,character_types,character,movie,Freebase_character/actor_map_ID,Actor name,Wikipedia movie ID,Freebase_movie_ID,Movie_release_date,Character_name,Actor_date_of_birth,...,Freebase_character_ID,Freebase_actor_ID,Wikipedia_movie_ID,Movie_name,Movie_box_office_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres,unique_character_name
0,NaN,NaN,NaN,/m/01x30z5,Charles Ruggles,73376.0,/m/0jq56,1938-02-16,NaN,1886-02-08,...,/m/0h5rtbt,/m/0337dn,73376.0,Bringing up Baby,1109000.0,102.0,English Language,United States of America,"Romantic comedy, Romance Film, Screwball comed...",NaN
1,NaN,NaN,NaN,/m/01x30zc,Barry Fitzgerald,73376.0,/m/0jq56,1938-02-16,Aloysius Gogarty,1888-03-10,...,/m/0h5rtcg,/m/012jb3,73376.0,Bringing up Baby,1109000.0,102.0,English Language,United States of America,"Romantic comedy, Romance Film, Screwball comed...",NaN
2,NaN,NaN,NaN,/m/01x30zk,Marilyn Monroe,1858682.0,/m/061nbd,1952,Miss Lois Laurel,1926-06-01,...,/m/0gxt02b,/m/04wqr,1858682.0,Monkey Business,2000000.0,97.0,English Language,United States of America,"Romantic comedy, Romance Film, Screwball comed...",NaN
3,NaN,NaN,NaN,/m/01x30zr,Cary Grant,1858682.0,/m/061nbd,1952,Dr. Barnaby Fulton,1904-01-18,...,/m/0gxrjrp,/m/09qh1,1858682.0,Monkey Business,2000000.0,97.0,English Language,United States of America,"Romantic comedy, Romance Film, Screwball comed...",NaN
4,NaN,NaN,NaN,/m/01x30zy,Ginger Rogers,1858682.0,/m/061nbd,1952,Mrs. Edwina Fulton,1911-07-16,...,/m/0h1psrx,/m/0h7dd,1858682.0,Monkey Business,2000000.0,97.0,English Language,United States of America,"Romantic comedy, Romance Film, Screwball comed...",NaN
5,NaN,NaN,NaN,/m/01x31_q,Asin Thottumkal,6004920.0,/m/0fk6vf,2004-07-30,Maya,1985-10-26,...,/m/02nwfd8,/m/0cfxd5,6004920.0,Gharshana,NaN,NaN,Telugu language,India,"Crime Fiction, Mystery, Drama, Tollywood, Roma...",NaN
6,NaN,NaN,NaN,/m/01x31z4,Asin Thottumkal,6003967.0,/m/0fk591,2003-04-19,Chennai,1985-10-26,...,/m/0h1qbsp,/m/0cfxd5,6003967.0,Amma Nanna O Tamila Ammayi,NaN,140.0,Telugu language,India,"Drama, World cinema, Tollywood",NaN
7,NaN,NaN,NaN,/m/01x31zb,Asin Thottumkal,5157752.0,/m/0d5grw,2007-01-01,Aishwarya,1985-10-26,...,/m/0h1qbt_,/m/0cfxd5,5157752.0,Annavaram,NaN,139.0,Telugu language,India,"Thriller, Musical, Action, World cinema, Tolly...",NaN
8,NaN,NaN,NaN,/m/01x31zj,Asin Thottumkal,6102449.0,/m/0fq72m,2005-03-25,Lakshmi,1985-10-26,...,/m/02nwcf8,/m/0cfxd5,6102449.0,Chakram,NaN,150.0,Telugu language,India,"Romantic drama, Romance Film, Drama, World cin...",NaN
9,NaN,NaN,NaN,/m/01x31zt,Asin Thottumkal,3050395.0,/m/08n4__,2005-09-30,Kalpana,1985-10-26,...,/m/02nw88w,/m/0cfxd5,3050395.0,Ghajini,NaN,167.0,Tamil Language,India,"Thriller, Drama, Tamil cinema, World cinema",NaN

In [86]:
df_merged4 = pd.merge(df_merged3, df_plot_summaries, on=['Wikipedia_movie_ID'], how='outer').drop( columns =['movie','character','Freebase_character/actor_map_ID','Freebase_movie_ID',
                                                                                                             'Freebase_actor_ID','Freebase_character_ID','Wikipedia movie ID'])
new_column_order = ['Wikipedia_movie_ID','Movie_name','Movie_release_date','Movie_genres','Movie_languages','Movie_countries','Movie_runtime','Movie_box_office_revenue','summary','Actor name',
                   'Actor_gender','Actor_age_at_movie_release','Actor_date_of_birth','Actor_height_(in meters)','Actor_ethnicity_(Freebase ID)',
                   'character_types','Character_name','unique_character_name']

df_merged4 = df_merged4[new_column_order]
df_merged4 = df_merged4.iloc[:-4]

df_merged4.tail(50)

,Wikipedia_movie_ID,Movie_name,Movie_release_date,Movie_genres,Movie_languages,Movie_countries,Movie_runtime,Movie_box_office_revenue,summary,Actor name,Actor_gender,Actor_age_at_movie_release,Actor_date_of_birth,Actor_height_(in meters),Actor_ethnicity_(Freebase ID),character_types,Character_name,unique_character_name
468188,37176066.0,Double Speed,NaN,"Sports, Comedy film, Drama",,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468189,37182634.0,Body Language,NaN,Thriller,,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468190,37186779.0,California,NaN,Western,,"Spain, Italy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468191,37196243.0,Abducted: The Carlina White Story,2012-10-06,,,,NaN,NaN,NaN,Roger Cross,M,45.0,1966-10-19,NaN,NaN,NaN,Carl White,NaN
468192,37196243.0,Abducted: The Carlina White Story,2012-10-06,,,,NaN,NaN,NaN,Keke Palmer,F,19.0,1993-08-26,1.620,/m/0x67,NaN,Carlina White,NaN
468193,37196243.0,Abducted: The Carlina White Story,2012-10-06,,,,NaN,NaN,NaN,Aunjanue Ellis,F,43.0,1969-02-21,NaN,/m/0x67,NaN,Ann Pettway,NaN
468194,37196243.0,Abducted: The Carlina White Story,2012-10-06,,,,NaN,NaN,NaN,Sherri Shepherd,F,45.0,1967-04-22,1.549,/m/0x67,NaN,Joy White,NaN
468195,37197726.0,Dame Chance,NaN,"Romance Film, Drama",,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468196,37210334.0,August: Osage County,NaN,"Comedy film, Drama",,United States of America,NaN,NaN,The movie is based upon a play by the same nam...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468197,37239974.0,Down Home,NaN,Drama,,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468198,37241569.0,Cold War,NaN,Action,,China,NaN,NaN,Asia’s safest city is about to be tested. In A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468199,37257312.0,Coincidence,NaN,Comedy film,,United States of America,NaN,NaN,Billy Jenks leaves his small town to find suc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468200,37277581.0,Mental,NaN,Drama,English Language,,74.0,NaN,Shirley Moochmoore is a sweet misfit and moth...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468201,37283373.0,Island,NaN,Disaster,English Language,,NaN,NaN,A Czech-born woman arrives on a Greek island h...,Gabriella Montrose,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468202,37283373.0,Island,NaN,Disaster,English Language,,NaN,NaN,A Czech-born woman arrives on a Greek island h...,Thomas James Longley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468203,37289691.0,Monster High: Ghouls Rule,NaN,,,,NaN,NaN,"As Halloween approaches, the students at Monst...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468204,37302868.0,Shariyo Thetto,NaN,Drama,Malayalam Language,,135.0,NaN,{{expand-section}} The story revolves around A...,Jose Prakash,M,NaN,1925-04-14,NaN,NaN,NaN,NaN,NaN
468205,37302868.0,Shariyo Thetto,NaN,Drama,Malayalam Language,,135.0,NaN,{{expand-section}} The story revolves around A...,Thikkurissy Sukumaran Nair,M,NaN,1916-10-16,NaN,NaN,NaN,NaN,NaN
468206,37302868.0,Shariyo Thetto,NaN,Drama,Malayalam Language,,135.0,NaN,{{expand-section}} The story revolves around A...,Adoor Pankajam,F,NaN,1925,NaN,NaN,NaN,NaN,NaN
468207,37322106.0,Jab Tak Hai Jaan,2012-11-13,"Romance Film, Drama",,,NaN,NaN,NaN,Shahrukh Khan,M,47.0,1965-11-02,1.730,/m/09743,NaN,Major Samar,NaN
468208,37322106.0,Jab Tak Hai Jaan,2012-11-13,"Romance Film, Drama",,,NaN,NaN,NaN,Katrina Kaif,F,28.0,1984-07-16,1.740,/m/03w9bjf,NaN,NaN,NaN
468209,37322106.0,Jab Tak Hai Jaan,2012-11-13,"Romance Film, Drama",,,NaN,NaN,NaN,Anushka Sharma,F,24.0,1988-05-01,1.750,NaN,NaN,NaN,NaN
468210,37373877.0,Crazy Eights,2006-10-31,"Cult, Horror",English Language,United States of America,80.0,NaN,"According to Horrorfest Online, six people wit...",Gabrielle Anwar,F,36.0,1970-02-04,1.600,/m/03w9bjf,NaN,Beth Patterson,NaN
468211,37373877.0,Crazy Eights,2006-10-31,"Cult, Horror",English Language,United States of America,80.0,NaN,"According to Horrorfest Online, six people wit...",Dina Meyer,F,37.0,1968-12-22,1.700,NaN,NaN,Jennifer Jones,NaN
468212,37373877.0,Crazy Eights,2006-10-31,"Cult, Horror",English Language,United States of America,80.0,NaN,"According to Horrorfest Online, six people wit...",George Newbern,M,41.0,1964-12-10,NaN,NaN,NaN,NaN,NaN
468213,37373877.0,Crazy Eights,2006-10-31,"Cult, Horror",English Language,United States of America,80.0,NaN,"According to Horrorfest Online, six people wit...",Frank Whaley,M,43.0,1963-07-20,1.710,NaN,NaN,NaN,NaN
468214,37373877.0,Crazy Eights,2006-10-31,"Cult, Horror",English Language,United States of America,80.0,NaN,"According to Horrorfest Online, six people wit...",Traci Lords,F,38.0,1968-05-07,1.702,/m/07hwkr,NaN,NaN,NaN
468215,37373877.0,Crazy Eights,2006-10-31,"Cult, Horror",English Language,United States of America,80.0,NaN,"According to Horrorfest Online, six people wit...",Karen Beriss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468216,37373877.0,Crazy Eights,2006-10-31,"Cult, Horror",English Language,United States of America,80.0,NaN,"According to Horrorfest Online, six people wit...",Michael Gabel,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468217,37469199.0,Pati Parmeshwar,NaN,"Romance Film, Drama",Hindi Language,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468218,37473592.0,Thoppul Kodi,NaN,Drama,,,145.0,NaN,Thoppul kodihttp://qualitymp3.blogspot.in/2011...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468219,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Daniel Gerroll,M,59.0,1951-10-16,NaN,NaN,NaN,NaN,NaN
468220,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Deepika Padukone,F,24.0,1986-01-05,1.740,/m/0761bp,NaN,NaN,NaN
468221,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Navin Chowdhry,M,40.0,1971-01-01,1.727,NaN,NaN,NaN,NaN
468222,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Kangana Ranaut,F,23.0,1987-03-20,1.730,/m/0dryh9k,NaN,NaN,NaN
468223,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Prem Chopra,M,75.0,1935-09-23,NaN,NaN,NaN,NaN,NaN
468224,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Tannishtha Chatterjee,F,NaN,NaN,NaN,/m/0dryh9k,NaN,NaN,NaN
468225,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Raveena Tandon,F,36.0,1974-10-26,1.660,/m/0dryh9k,NaN,NaN,NaN
468226,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Zayed Khan,M,30.0,1980-07-05,1.800,/m/0dryh9k,NaN,NaN,NaN
468227,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Amitabh Bachchan,M,68.0,1942-10-11,1.880,/m/0583cz,NaN,NaN,NaN
468228,37476824.0,I Love New Year,2011,"Crime Fiction, Caper story, Crime Comedy, Comedy",Hindi Language,India,NaN,NaN,NaN,Uday Chopra,M,37.0,1973-01-05,1.720,NaN,NaN,NaN,NaN
468229,37478048.0,Mr. Bechara,1996,Comedy film,Hindi Language,,NaN,NaN,"Anand Verma, a widower and father of a child, ...",Anupam Kher,M,40.0,1955-03-07,NaN,/m/023mqw,NaN,NaN,NaN
468230,37478048.0,Mr. Bechara,1996,Comedy film,Hindi Language,,NaN,NaN,"Anand Verma, a widower and father of a child, ...",Anil Kapoor,M,36.0,1959-12-24,1.800,NaN,NaN,NaN,NaN
468231,37478048.0,Mr. Bechara,1996,Comedy film,Hindi Language,,NaN,NaN,"Anand Verma, a widower and father of a child, ...",Sridevi Kapoor,F,32.0,1963-08-13,1.670,NaN,NaN,NaN,NaN
468232,37478048.0,Mr. Bechara,1996,Comedy film,Hindi Language,,NaN,NaN,"Anand Verma, a widower and father of a child, ...",Akkineni Nagarjuna,M,36.0,1959-08-29,1.830,/m/09m6hr,NaN,Ajay,NaN
468233,37492363.0,Cherries and Clover,2011,"Comedy film, Drama, Romance Film",,Canada,86.0,NaN,"When Clover's ' childhood friend, Cherries ', ...",Molly Cera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468234,37492363.0,Cherries and Clover,2011,"Comedy film, Drama, Romance Film",,Canada,86.0,NaN,"When Clover's ' childhood friend, Cherries ', ...",Taylor Marie Milton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468235,37492363.0,Cherries and Clover,2011,"Comedy film, Drama, Romance Film",,Canada,86.0,NaN,"When Clover's ' childhood friend, Cherries ', ...",Spencer Jenkins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468236,37501922.0,Terminal Bliss,1992,Drama,English Language,United States of America,91.0,NaN,Two adolescent children of wealthy parents dea...,Luke Perry,M,25.0,1966-10-11,1.765,NaN,NaN,John Hunter,NaN
468237,37501922.0,Terminal Bliss,1992,Drama,English Language,United States of America,91.0,NaN,Two adolescent children of wealthy parents dea...,Alexis Arquette,F,22.0,1969-07-28,1.720,/m/041rx,NaN,Craig Murphy,NaN

In [ ]:
from datetime import datetime, date, time

def sort(df):
    return df.sort_values(ascending=[True,True,True],by=['year','month','day'])

df_merged2['Movie_release_date'] = pd.to_datetime(df_merged2['Movie_release_date'], errors='coerce')

# Extract year, month, and day into separate columns
df_merged2['Movie_release_year'] = df_merged['Movie_release_date'].dt.year
df_merged['Movie_release_month'] = df_merged['Movie_release_date'].dt.month
df_merged['Movie_release_day'] = df_merged['Movie_release_date'].dt.day

df_grouped_actor = df_merged.groupby(['Actor name']).apply(sort)[['character_types', 'year','month','day']]