In [38]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

First drop the movies that have unappropriate runtimes

In [39]:
file_path = "../data/our_movie_data_extended.pkl"
df = pd.read_pickle(file_path)
df.shape

(81840, 12)

In [40]:
df = df[(df['Movie_runtime'] < 300) | (df['Movie_runtime'].isna())]
df['Movie_name'] = df['Movie_name'].drop_duplicates()
df.shape

(81693, 12)

In [41]:
df['Movie_name'] = df['Movie_name'].drop_duplicates()
df.shape

(81693, 12)

Drop movies with no category after having removes the ones we won't be analyzing

In [42]:
def sort_unwanted_categories(df):
    categories_to_remove = ['Others', 'War/Crime', 'LGBTQ+', 'Sports', 'Musical', 'Documentary']
    
    df['category'] = df['category'].apply(lambda x: 
                                          np.setdiff1d(x, categories_to_remove).tolist() if isinstance(x, list) else x)
    
    df['category'] = df['category'].apply(lambda x: np.nan if isinstance(x, list) and len(x) == 0 else x)
    
    return df

df.dropna(subset=['category'], inplace=True)
df = sort_unwanted_categories(df)

In [43]:
df.shape

(79312, 12)

In [44]:
df = df.dropna(subset=['category'])
df.shape

(67801, 12)

Dropping movies that are categorized in 4 categories or more since they may not be very useful

In [45]:
df['category'].sample(15)
df['num_cat'] = df['category'].apply(lambda x: len(x) if isinstance(x, list) else 0)
df.num_cat.value_counts()

#Find the movies that have more than four category
df = df[df['num_cat'] < 5]
df.shape

(67453, 13)

In [46]:
df = df.dropna(subset=['continent'])
df.shape

(62001, 13)

In [47]:
pd.to_pickle(df, "movies_to_scrape.pkl")

In [49]:
pd.DataFrame.to_csv(df, "movies_to_scrape.csv")